body {
    font-family: 'Droid Sans';
    font-size:13px;
    background-color: #FAFAFA;
}

h2 {
    text-transform: uppercase;
}

th {
    text-align: left;
    padding-right: 15px;
}

td {
    padding: 10px;
}

#trades {
    margin-bottom: 40px;
}

#returns {
    margin-bottom: 40px;
}

#left-panel {
    margin-left: 30px;
    float: left;
    margin-right: 100px;
}

.table_header {
    font-size: 20px;
}

.odd {
    background-color: #E5E5E5;
}

#last_update {
    width: 300px;
    margin-bottom: 30px;
}

#google_link {
    width: 130px;
    padding: 10px;
    background-color: #FF5C04;
    text-align: center;
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 30px;
    -moz-box-shadow: 0 0 20px #888;
    -webkit-box-shadow: 0 0 20px #888;
    box-shadow: 0 0 20px #888;
}

a:hover, a:link, a:visited {
    text-decoration: none;
    color: white;
}
